.CartWidget
{
    display: flex;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 40px;
    &:hover
    {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.CartWidget--Hidden
{
    display: none;
}