.ItemCounter
{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    // background-color: rgb(139, 199, 199);
    .ItemCounter__counter
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .ItemCounter__cant
    {
        margin: 0;
    }
}