@mixin centerInput
{
    margin: auto;
    display: block;
    width: 50%;
}

.MiForm
{
    .MiForm__title
    {
        margin:
        {
            top: 20px;
            bottom: 0px;
        }
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    .MiForm__field
    {
        padding: 10px;
    }
    .MiForm__field--hidden
    {
        display: none;
    }
    .MiForm__input
    {
        @include centerInput;
        border: none;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.15)
    }
    .MiForm__button
    {
        @include centerInput;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 40px;
        padding: 10px 20px;
        background-color: black;
        &:hover
        {
            background-color: rgb(23, 26, 63);
        }
    }
}